/**
 * @name kot discord theme
 * @author kotpsot
 * @version 1.0.1
 * @description testowanko
 * @source https://github.com/kotpsot/kotpsot.github.io/edit/main/1cat.theme.css
 * @updateUrl https://raw.githubusercontent.com/kotpsot/kotpsot.github.io/main/1cat.theme.css
*/

@import url(https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap);

.theme-dark{
    --background-accent: rgba(63,63,194,0.489)!important;
    --background-primary: rgba(0, 0, 0, 0)!important;
    --background-secondary: rgba(0, 0, 0, 0)!important;
    --background-secondary-alt: rgba(0, 0, 0, 0)!important;
    --background-tertiary: rgba(0, 0, 0, 0)!important;
    --background-floating: rgba(0,0,0,0.863)!important;
    --background-modifier-hover: rgba(63,63,194,0.489)!important;
    --background-modifier-active: rgba(63,63,194,0.489)!important;
    --background-modifier-selected: rgba(63,63,194,0.489)!important;
    --background-modifier-accent: rgba(63,63,194,0.489)!important;
    --background-mentioned: rgba(63,63,194,0.489)!important;
    --background-mentioned-hover: rgba(63,63,194,0.489)!important;
    --background-message-hover: rgba(63,63,194,0.489)!important;
    --background-message-highlight: rgba(63,63,194,0.489)!important;
    --background-message-highlight-hover: rgba(63,63,194,0.489)!important;
    --font-size: 125%!important;
    --font-display: JetBrains Mono!important;
    --font-headline: JetBrains Mono!important;
    --font-primary: JetBrains Mono!important;
    --header-primary: rgba(152,152,209,0.995)!important;
    --header-secondary: rgba(152,152,209,0.995)!important;
    --text-normal: rgba(255,255,255,0.788)!important;
    --text-default: rgba(221,221,221,0.762)!important;
    --text-muted: rgba(221,221,221,0.762)!important;
    --text-link: rgba(152,152,209,0.995)!important;
    --interactive-normal: #bbb!important;
    --interactive-hover: #eee!important;
    --interactive-active: #fff!important;
    --interactive-muted: rgb(106,106,106)!important;
    --scrollbar-auto-thumb: rgba(63,63,194,0.489)!important;
    --scrollbar-thin-thumb: rgba(63,63,194,0.489)!important;
    --scrollbar-thin-track: rgba(0,0,0,0)!important;
    --scrollbar-auto-track: rgba(0,0,0,0)!important;
    --channeltextarea-background: rgba(63,63,194,0.489)!important;
    --text-positive: rgb(139,139,255)!important;
    --button-secondary-background: rgb(139,139,255)!important;
    --button-secondary-background-hover: rgb(139,139,255)!important;
    --button-secondary-background-active: rgba(63,63,194,0.489)!important;
}


body::before {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: -1;
    background: url(https://files.catbox.moe/fi14pl.png) center/cover no-repeat;
}

* {
    -o-transition-property: none!important;
    -moz-transition-property: none!important;
    -ms-transition-property: none!important;
    -webkit-transition-property: none!important;
    transition-property: none!important;
    -webkit-animation: none!important;
    -moz-animation: none!important;
    -o-animation: none!important;
    -ms-animation: none!important;
    animation: none!important;
    transition: none!important;
}

html {
    font-size: var(--font-size)!important
}


.chatContent__5dca8 {
    background-color: rgba(0,0,0,.304)!important;
    border-radius: 20px;
    border: rgb(63,63,194) 2px solid
}

.base__3e6af {
    bottom: 0;
    left: 0!important;
    max-width: 100%;
    position: fixed!important;
    right: 0;
    top: 95.3px!important
}

.guilds__2b93a {
    bottom: unset;
    height: 100vw!important;
    left: 0;
    position: fixed!important;
    top: 85px;
    transform: rotate(-90deg);
    transform-origin: top left
}

.wrapper__3af0b{
    transform: rotate(90deg)
}

.wordmarkWindows-1rsity {
    display: none
}

.winButton-3SigSb {
    width: 30px;
    height: 40px;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: -20px
}

.wrapper_c727b6,.container__23c08,.container__20de0,.messagesPopoutWrap_b3b384,.theme-dark .autocomplete_df266d,.container_d6dad3,.contentWrapper__321ed,.contentWrapper_eab878,.menu_dc52c6{
    background-color: rgba(0,0,0,0.863)!important;
}

.messages_f7999e,.messageContainer_aa7d14,.container_b181b6,.theme-dark .container__10dc7, .theme-dark .header__60bef,.theme-dark .pageWrapper_fef757,.wrapper__7a35f,.inspector__993e1,.wrapper_cd625e,.theme-dark .themed_b152d4{
    background-color: rgba(0, 0, 0, 0)!important;
}

.callContainer_cbde45,.option_b5597b:after,.chat__52833{
    background: rgba(0, 0, 0, 0)!important;
}

.topPill__0cdf1 .themed_b957e8.selected__5711d.item__48dda,.themed_b957e8.item__48dda:hover:not(.disabled__85bca),.option_b5597b:hover{
    background-color: rgba(63,63,194,0.489)!important;
}

.wordmark__0d178,.chat_f8f70f:before,.children__32014:after,.content__1a4fe:before,.mentioned__58017:before{
    display: none!important;
}

.theme-light .footerSeparator__57d95,.searchBar_e4ea2a,.header__104ca{
    box-shadow: none!important;
}

.gradientTop__8dcff,.gradientBottom__19035{
    background-image: none!important;
}

.channelHeader__5d30c,.header_f5cc88{
    background-color: rgb(0, 0, 0)!important;
}

.root_a28985,.footer__89240{
    background-color: rgba(0,0,0,0.863)!important;
}

.container__73245,.rowContainer__6f4c6{
    background-color: rgba(63,63,194,0.489)!important;
}

.input_d266e7,.rowText_e87737,.footerTitle_ec7d67,.sampleLink__771c4,.title__92748,.subtitle__963da,.title_cba92b,.title__23c2d,.subtitle__89b16,.text__43e5f,.title_a58c92,.subtitle_a75f7f{
    color: rgba(255,255,255,0.788)!important;
}

.container__73245{
    border: none!important;
}

.lookFilled__19298.colorPrimary__6ed40{
    background-color: rgb(139,139,255)!important;
}

.content__23cab [style="height: 84px;"],.animatedContainer__341f6,.bannerImage__39c51{
    display: none!important;
}

.container__871ba{
    background-color: rgb(139,139,255)!important;
}

.accountProfilePopoutWrapper_af829a {
    left: 0!important;
}

.userProfileInnerThemedNonPremium__3d0a6{
    background: rgba(0,0,0,0.863)!important;
}

.menu__5cf7f{
    background-color: rgba(0, 0, 0, 0)!important;
}

.backButton__576ea,.button_afdfd9{
    color: rgba(255,255,255,0.788)!important;
}

.lookInverted_ee4261.colorBrand_b2253e{
    color: rgb(139,139,255)!important;
}

.replyBar_b64d74, .threadSuggestionBar_b633f7{
    background: rgba(63,63,194,0.489)!important;
}
