/**
* @name green cat
* @version 1
* @description green cat
* @author mfb cat
* @invite 0
* @source https://github.com/kotpsot/kotpsot.github.io
*/
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap);
.theme-dark{
    --borders: rgba(22, 130, 74, 0.445) 2px outset;
    --header-primary: #adadad;
    --header-secondary: #848992fd;
    --background-mentioned: rgba(22, 130, 74, 0.445);
    --background-mentioned-hover: rgba(22, 130, 74, 0.445);
    --brand-experiment-10a: rgba(22, 130, 74, 0.445);
    --info-warning-foreground: rgba(22, 130, 74, 0.445);
    --background-modifier-accent: rgba(22, 130, 74, 0.445);
    --background-message-highlight: rgba(22, 130, 74, 0.445);
    --background-accent: rgba(22, 130, 74, 0.445);
    --background-primary: rgba(0, 0, 0, 0.078);
    --background-secondary: rgba(0, 0, 0, 0.4);
    --background-secondary-alt: rgba(0, 0, 0, 0.4);
    --background-tertiary: rgba(0, 19, 2, 0.4);
    --font-size: 115%;
    --background-message-hover: rgba(22, 130, 74, 0.445);
    --background-modifier-active: rgba(22, 130, 74, 0.445);
    --background-modifier-hover: rgba(22, 130, 74, 0.445);
    --background-modifier-selected: rgba(22, 130, 74, 0.445);
    --font-display: Montserrat;
    --font-headline: Montserrat;
    --font-primary: Montserrat;
    --text-muted: #cac7ca8f;
    --text-normal: #ffffffc9;
    --text-link: rgba(18, 251, 130, 0.592);
    --background-floating: #000000dc;
    --scrollbar-auto-thumb: var(--background-accent);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --scrollbar-thin-track: var(--background-primary);
    --scrollbar-auto-track: var(--background-primary);
    --search-popout-option-fade: transparent;
    --search-popout-option-fade-hover: #11111100;
    --channeltextarea-background: rgba(22, 130, 74, 0.445);
    --primary-630: #000000dc;
    --brand-experiment: rgba(22, 130, 74, 0.445);
    --red-400: rgba(22, 130, 74, 0.445);
}
#app-mount {
    background-image: url(https://files.catbox.moe/afus73.jpg);
    background-size: cover;
}
*, *::after, *::before {
    animation: none!important;
    transition: none!important;
    transition-duration: 0ms !important;
}
html {
    font-size: var(--font-size)!important
}
.wordmarkWindows-2dq6rw{
    display: none;
}
.winButton-3UMjdg{
    width: 30px;
    height: 40px;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: -20px;
}
.chat-2ZfjoI,.container-2o3qEW,.container-3wLKDe,.member-48YF_l,.members-3WRCEx,.membersWrap-3NUR2t,.theme-dark .container-2IKOsH,.theme-dark .header-3xB4vB,.wrapper-1gVUIN.chatSidebarOpen--YCxhs .callContainer-HtHELf {
    background-color: transparent!important
}
.theme-dark .themed-Hp1KC_{
    background-color: var(--background-tertiary);
}
.container-2McqkF,.content-1jQy2l,.contentWrapper-3vHNP2,.scroller-nxCRu_,.theme-dark .autocomplete-3NRXG8,.userProfileInnerThemedNonPremium-2AJg-H {
    border: var(--borders)
}
.theme-dark .themed-Hp1KC_{
    background-color: rgba(0, 0, 0, 0.6);
}
[aria-label=Pomoc] {
    display: none
}
.base-2jDfDU {
    bottom: 0;
    left: 0!important;
    max-width: 100%;
    position: fixed!important;
    right: 0;
    top: 100px!important
}
.guilds-2JjMmN {
    background-color: transparent!important;
    bottom: unset;
    height: 100vw!important;
    left: 10px;
    position: fixed!important;
    top: 95px;
    transform: rotate(-90deg);
    transform-origin: top left
}
.wrapper-2PSQCG {
    transform: rotate(90deg)
}
.theme-dark .themed-Hp1KC_{
    background-color: rgba(0, 0, 0, 0.6);
}
