/**
 * @name kot red theme vip 23.08.2023
 * @author kotpsot
 * @version 1.0.1
 * @description test kot theme
 * @source https://github.com/kotpsot/kotpsot.github.io/edit/main/catred01.theme.css
 * @updateUrl https://raw.githubusercontent.com/kotpsot/kotpsot.github.io/main/catred01.theme.css
*/
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap);

.theme-dark,:root {
    --borders: rgba(130, 42, 22, 0.756) 2px solid;
    --header-primary: rgb(173, 173, 173);
    --header-secondary: rgba(132, 137, 146, 0.992);
    --background-mentioned: rgba(130, 42, 22, 0.445);
    --background-mentioned-hover: rgba(130, 42, 22, 0.445);
    --brand-experiment-10a: rgba(130, 42, 22, 0.445);
    --info-warning-foreground: rgba(130, 42, 22, 0.445);
    --background-modifier-accent: rgba(130, 42, 22, 0.445);
    --background-message-highlight: rgba(130, 42, 22, 0.445);
    --background-accent: rgba(130, 42, 22, 0.445);
    --background-primary: rgba(0, 0, 0, 0);
    --background-secondary: rgba(0, 0, 0, 0);
    --background-secondary-alt: rgba(0, 0, 0, 0);
    --background-tertiary: rgba(19, 7, 0, 0);
    --font-size: 125%;
    --background-message-hover: rgba(130, 42, 22, 0.445);
    --background-modifier-active: rgba(130, 42, 22, 0.445);
    --background-modifier-hover: rgba(130, 42, 22, 0.445);
    --background-modifier-selected: rgba(130, 42, 22, 0.445);
    --font-display: Montserrat;
    --font-headline: Montserrat;
    --font-primary: Montserrat;
    --text-muted: rgba(202, 199, 202, 0.561);
    --text-normal: rgba(255, 255, 255, 0.788);
    --text-link: rgba(228, 47, 47, 0.592);
    --background-floating: rgba(0, 0, 0, 0.863);
    --scrollbar-auto-thumb: var(--background-accent);
    --scrollbar-thin-thumb: rgba(0, 0, 0, 0);
    --scrollbar-thin-track: rgba(0, 0, 0, 0);
    --scrollbar-auto-track: rgba(0, 0, 0, 0);
    --search-popout-option-fade: transparent;
    --search-popout-option-fade-hover: rgba(17, 17, 17, 0);
    --channeltextarea-background: rgba(130, 42, 22, 0.445);
    --primary-600: var(--background-tertiary);
    --primary-630: rgba(0, 0, 0, 0.863);
    --brand-experiment: rgba(130, 42, 22, 0.445);
    --brand-experiment-560: rgba(130, 42, 22, 0.445);
    --red-400: rgba(196, 31, 31, 0.838);
    --green-330: rgb(223, 38, 38);
    --green-360: rgb(223, 38, 38);
    --green-430: rgba(196, 31, 31, 0.838)
}

#app-mount {
    background-image: url(https://files.catbox.moe/5m8yqq.png);
    background-size: cover;
    text-rendering: optimizeSpeed
}

*,::after,::before {
    animation: none!important;
    transition: none!important
}

html {
    font-size: var(--font-size)!important
}

.username-h_Y3Us {
    font-weight: 500
}

.wordmarkWindows-2dq6rw {
    display: none
}

.winButton-3UMjdg {
    width: 30px;
    height: 40px;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: -20px
}

.app-2CXKsg,.container-1oAagU,.container-3wLKDe,.fieldList-in8WkP,.member-48YF_l,.members-3WRCEx,.membersWrap-3NUR2t,.panels-3wFtMD,.privateChannels-oVe7HL,.searchBar-jGtisZ,.searchBarComponent-3N7dCG,.theme-dark .emptyPage-2TGR7j,.theme-dark .scrollerContainer-y16Rs9,.wrapper-1gVUIN.chatSidebarOpen--YCxhs {
    background-color: transparent!important
}

.container-3XgAHv,.browser-mnQ1T7,.container-2McqkF,.container-2ebMPP,.container-_dQaft,.content-1jQy2l,.contentWrapper-2f9yME,.contentWrapper-3vHNP2,.fade-2ROEC7.didRender-2dwLEv,.messagesPopoutWrap-3zryHW,.root-1CAIjD,.scroller-nxCRu_,.tabBody-2dgbAs,.theme-dark .autocomplete-3NRXG8 {
    border: var(--borders)
}

.browser-mnQ1T7,.container-2ebMPP,.container-_dQaft,.contentWrapper-2f9yME,.contentWrapper-3vHNP2,.messagesPopoutWrap-3zryHW,.pageWrapper-2PwDoS,.root-1CAIjD,.sidebar-1tnWFu,.theme-dark .container-ZMc96U,.wrapper-2vIMkT {
    background-color: rgba(0,0,0,.82)!important
}

[class*=callContainer-HtHELf] {
    background-color: rgba(19,7,0,.75)!important;
    border: var(--borders);
    margin-right: 1px;
    border-bottom-right-radius: 20px
}

[aria-label=Pomoc] {
    display: none
}

.base-2jDfDU {
    bottom: 0;
    left: 0!important;
    max-width: 100%;
    position: fixed!important;
    right: 0;
    top: 95.3px!important
}

.guilds-2JjMmN {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(0,0,0,.82);
    bottom: unset;
    height: 100vw!important;
    left: 0;
    position: fixed!important;
    top: 95px;
    transform: rotate(-90deg);
    transform-origin: top left
}

.wrapper-2PSQCG {
    transform: rotate(90deg)
}

.container-3XgAHv,.chat-1rZYgu,.content-1jQy2l,.grid-21dB-S,.tabBody-2dgbAs,.theme-dark .container-2IKOsH {
    background-color: rgba(19,7,0,.75)!important
}

.platform-win .standardSidebarView-E9Pc3j {
    background: rgba(0,0,0,.7)!important
}

.platform-win .sidebar-1tnWFu {
    border-top-left-radius: 0;
    border-bottom-left-radius: 20px;
    margin-bottom: 11px
}

.pageWrapper-2PwDoS {
    margin-bottom: 11px
}

.chat-1rZYgu,.chat-2ZfjoI {
    margin-bottom: 10px
}

.chat-2ZfjoI,.content-1jQy2l {
    margin-right: 0;
    border-bottom-right-radius: 20px
}

.container-2cd8Mz {
    margin-bottom: 10px
}

.container-2cd8Mz,.tabBody-2dgbAs {
    margin-right: 0;
    border-bottom-right-radius: 20px
}
