@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');

.bg-1QIAus {
    background: var(--bg-appimage);
    background-position: center;
    background-size: 1920px auto;
    text-rendering: auto;
    filter: blur( var(--bg-blur) ) brightness( var(--bg-opacity) );
}

.layers-OrUESM{
    margin: 10px;
}

.theme-dark, .theme-light {
    --brand-experiment-600: var(--color1);
    --brand-experiment-560: var(--color1);
    --search-popout-option-fade: transparent;
    --status-positive-background: var(--color1);
    --red-400: var(--color1);
    --green-360: var(--color1);
    --background-modifier-selected: var(--color2);
    --mention-background: var(--color2);
    --mention-foreground: #000000;
    --background-accent: var(--color1);
    --background-floating: var(--popupcolors);
    --background-mentioned: var(--color2);
    --background-primary: transparent;
    --background-secondary: transparent;
    --background-secondary-alt: transparent;
    --background-tertiary: transparent;
    --background-message-hover: transparent;
    --background-message-highlight: var(--color2);
    --bg-overlay-selected: var(--color2);
    --brand-experiment: var(--color2);
    --button-secondary-background: var(--color2);
    --channeltextarea-background: transparent;
    --channels-default: var(--textchannelcolors);
    --channel-icon: var(--color1);
    --header-primary: var(--color1);
    --header-secondary: #eeeeeef3;
    --home-background: transparent;
    --info-warning-foreground: transparent;
    --interactive-active: #fefeff;
    --interactive-hover: var(--color1);
    --interactive-muted: var(--color2);
    --interactive-normal: #ffffffb7;
    --modal-background: #030007f3;
    --modal-footer-background: #030007f3;
    --profile-avatar-border-color: #00000093;
    --primary-630: #030007f3;
    --primary-600: transparent;
    --text-link: var(--color1);
    --text-normal: var(--textchatcolors);
    --text-brand: var(--color2);
    --status-danger: var(--color2);
    --scrollbar-auto-thumb: var(--color2);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --scrollbar-thin-track: var(--background-primary);
    --scrollbar-auto-track: var(--background-primary);
    --TB-header-padding: 0px;
}

.messagesPopoutWrap-3zryHW, .contentWrapper-3vHNP2, .wrapper-3u51GQ, .container-18GwIk, .userPopoutInner-1hXSeY:before, .overlayBackground-1KgwVi {
    background: var(--popupcolors);
}

.mainCard-3KBsBI, .container-2qVG6q:hover {
    background-color: var(--background-modifier-selected);
}

.panels-3wFtMD {
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    border: var(--bordercolor);
    border-radius: 10px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.45);
}

.scrollableContainer-15eg7h {
    border: var(--bordercolor);
    border-radius: 10px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.45);
    margin-right: -12px;
    margin-bottom: 20px;
    margin-left: -12px;
}

.scroller-kQBbkU {
    background: transparent;
    border: var(--bordercolor);
    border-radius: 10px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.45);
    bottom: 17px;
    left: 5px;
    right: 5px;
    top: 7px;
}
.scroller-1ox3I2 {
    border: var(--bordercolor);
    border-radius: 10px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.45);
    margin-bottom: 5px;
    margin-top: 5px;
  
}

.container-2o3qEW {
    border: var(--bordercolor);
    border-radius: 10px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.45);
    margin-top: 7px;
    margin-right: 5px;
    height: 96.4%;
}
.container-ZMc96U {
    border: var(--bordercolor);
    border-radius: 10px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.45);
    margin-left: 5px;
    width: 99.2%;
}

.header-3OsQeK {
    border: var(--bordercolor);
    border-radius: 10px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.45);
}

.scroller-WSmht3 {
    border: var(--bordercolor);
    border-radius: 10px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.45);
    margin-bottom: 5px;
}

.searchBar-3TnChZ {
    border: var(--bordercolor);
    border-radius: 10px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.45);
    margin-bottom: 5px;
}

.searchResultsWrap-5RVOkx {
    border: var(--bordercolor);
    border-radius: 10px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.45);
    height: 96.5%;
    margin-right: 6px;
    margin-top: 7px;
}

.peopleColumn-1wMU14 {
    border: var(--bordercolor);
    border-radius: 10px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.45);
    margin-top: 7px;
    margin-bottom: 19px;
    margin-left: 5px;
}

.scroller-hE2gWq {
    border: var(--bordercolor);
    border-radius: 10px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.45);
    margin-top: 7px;
    margin-bottom: 19px;
    margin-left: 5px;
    width: 97%;
    height: 97%;
}

.base-2jDfDU {
    position: absolute;
    left: 0px;
    top: 72px;
    bottom: 0px;
    right: 0px;
}

.guilds-2JjMmN {
    transform-origin: top left;
    transform: rotate(-90deg);
    height: 100vw !important;
    top: 65px;
    left: 10px;
    position: absolute !important;
}

.guilds-2JjMmN .listItem-3SmSlK .wrapper-2PSQCG {
    transform: rotate(90deg);
}
