/**
 * @name kot theme test
 * @author kot
 * @version 1.0.2
 * @description test kot theme
 * @source https://github.com/kotpsot/kotpsot.github.io/edit/main/kot.theme.css
 * @updateUrl https://raw.githubusercontent.com/kotpsot/kotpsot.github.io/main/kot.theme.css
*/

@import "https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap";

.theme-dark,.theme-light {
    --header-primary: hsl(0,0%,68%);
    --header-secondary: hsla(219,6%,55%,0.992);
    --background-mentioned: var(--color1);
    --background-mentioned-hover: var(--color1);
    --brand-experiment-10a: var(--color1);
    --info-warning-foreground: var(--color1);
    --background-modifier-accent: var(--color1);
    --background-message-highlight: var(--color1);
    --background-accent: var(--color1);
    --background-primary: none;
    --background-secondary: none;
    --background-secondary-alt: none;
    --background-tertiary: none;
    --theme-transparency: rgba(0, 0, 0, 0.53);
    --theme-background-image: url(https://i.imgur.com/vGzwfeH.jpg);
    --font-size: 115%;
    --background-message-hover: var(--color1);
    --background-modifier-active: var(--color1);
    --background-modifier-hover: var(--color1);
    --background-modifier-selected: var(--color1);
    --font-display: Montserrat;
    --font-headline: Montserrat;
    --font-primary: Montserrat;
    --text-muted: hsla(300,3%,79%,0.561);
    --text-normal: hsla(0,0%,100%,0.788);
    --popupcolors: hsla(0,0%,0%,0.906);
    --color1: rgba(189, 48, 48, 0.332);
    --color2: rgb(185, 31, 31);
    --background-floating: hsla(0,0%,0%,0.863);
    --scrollbar-auto-thumb: var(--background-accent);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --scrollbar-thin-track: var(--background-primary);
    --scrollbar-auto-track: var(--background-primary);
    --search-popout-option-fade: transparent;
    --search-popout-option-fade-hover: hsla(0,0%,7%,0);
    --channeltextarea-background: hsla(0,0%,7%,0);
    --primary-630: hsla(0,0%,0%,0.863);
    --brand-experiment: var(--color1);
    --status-danger: var(--color2);
    --button-positive-background: var(--color1);
    --button-positive-background-hover: var(--color2);
    --button-positive-background-active: var(--color2);
    --button-positive-background-disabled: var(--color2);
    --status-positive-background: var(--color2);
    --brand-experiment-600: var(--color2);
    --brand-experiment-560: var(--color2);
    --brand-experiment-360: var(--color2);
    --text-link: rgb(201, 114, 37);
    --green-360: var(--color2);
    --text-positive: var(--color2);
    --button-secondary-background: var(--color1);
    --button-secondary-background-hover: var(--color2);
    --button-secondary-background-active: var(--color2);
}

[class*=callContainer-HtHELf],.theme-dark .pageWrapper-2PwDoS,.chat-2ZfjoI,.container-3wLKDe,.theme-dark .container-2IKOsH,.theme-dark .header-3xB4vB,.theme-dark .themed-Hp1KC_,.wrapper-1gVUIN.chatSidebarOpen--YCxhs .callContainer-HtHELf {
    background: 0 0!important
}

body {
    background-image: var(--theme-background-image);
    background-size: cover
}

.bg-1QIAus {
    background-color: var(--theme-transparency)
}

html {
    font-size: var(--font-size)!important
}

[class^=popout],[class="contentWrapper-2f9yME"],[class="contentWrapper-3vHNP2"],[class="wrapper-2vIMkT"],[class="userPopoutOuter-1OHwPL userProfileOuter-2tQwNf userProfileOuterUnthemed-11rPfA profileColors-2AgAV4 theme-dark"],[class="recentMentionsPopout-2bI1ZN messagesPopoutWrap-3zryHW"],[class="container-2ebMPP recentMentionsPopout-2bI1ZN group-spacing-16"],[class="container-_dQaft recentMentionsPopout-2bI1ZN"] {
    background-color: var(--popupcolors)
}

[class="channelHeader-DFRX8q"] {
    background-color: hsl(0,0%,0%)
}

.titleBar-AC4pGV {
    background-color: initial
}

.base-2jDfDU {
    bottom: 0;
    left: 0!important;
    max-width: 100%;
    position: fixed!important;
    right: 0;
    top: 100px!important
}

.guilds-2JjMmN {
    bottom: unset;
    height: 100vw!important;
    left: 10px;
    position: fixed!important;
    top: 95px;
    transform: rotate(-90deg);
    transform-origin: top left
}

.wrapper-2PSQCG {
    transform: rotate(90deg)
}

[class*=listItemTooltip] {
    position: absolute;
    max-width: unset;
    white-space: nowrap;
    margin-left: -7vw;
    top: 40px
}

.gradientContainer-phMG8d {
    background-image: none
}

.root-1CAIjD,.theme-light .footerSeparator-3U8YsT{
    background-color: transparent;
}

.defaultColor-1GKx81{
    color: hsl(0, 0%, 100%);
}
