/**
 * @name kot theme test
 * @author kot
 * @version 1.0.1
 * @description test kot theme
 * @source https://github.com/kotpsot/kotpsot.github.io/edit/main/kot.theme.css
 * @updateUrl https://raw.githubusercontent.com/kotpsot/kotpsot.github.io/main/kot.theme.css
*/
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap);
@import url(https://rawgithub.com/Andris0/Kyanite/master/src/source.css);

/* Adjustable main color palette and background options */
:root {
  /* Kyanite accents */
  --font-display: Montserrat;
  --font-headline: Montserrat;
  --font-primary: Montserrat;
  --main-color: rgba(22, 91, 123, 1) !important;
  --soft-bright-color: rgb(133, 206, 255) !important;
  --hover-color: rgba(22, 91, 123, 0.3) !important;
  --hover-faded-color: rgba(22, 91, 123, 0.2) !important;
  --hover-faint-color: rgba(22, 91, 123, 0.1) !important;
  --hover-dark-color: rgba(22, 91, 123, 0.8) !important;
  --hover-bright-color: rgba(16, 165, 235, 0.8) !important;

  /* Background options */
  --background-blur: 0px !important;
  --background-brightness: 100% !important;
}

/* Main background */
body::after,
.callout-backdrop,
.user-popout::before,
#user-profile-modal .header::before,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash {
  background-image: url("https://cdn.discordapp.com/attachments/846469842701647888/1126431630165282896/ezgif.com-resize.jpg") !important;
}

/* Theme specific filter for the emoji button */


.base-2jDfDU {
    bottom: 0;
    left: 0!important;
    max-width: 100%;
    position: fixed!important;
    right: 0;
    top: 100px!important
}

.guilds-2JjMmN {
    bottom: unset;
    height: 100vw!important;
    left: 10px;
    position: fixed!important;
    top: 95px;
    transform: rotate(-90deg);
    transform-origin: top left
}

.wrapper-2PSQCG {
    transform: rotate(90deg)
}

[class*=listItemTooltip] {
    position: absolute;
    max-width: unset;
    white-space: nowrap;
    margin-left: -7vw;
    top: 40px
}
.emojiButtonNormal-35P0_i .sprite-2lxwfc {
  filter: hue-rotate(170deg) brightness(65%) saturate(180%) !important;
}
